@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    background-color: #321253;
}

::selection{
    background-color: white;
    color: #321253;
}

.content{
    font-family: 'Sarala', sans-serif;
}

.content-primary {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.content-primary-writed-title{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 54px;
    color: #FFF2E7;
}

.content-primary-writed-subtitle{
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
}

.content-primary-logo{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.content-primary-logo-item{
    width: 40px;
    height: 40px;
}

.content-primary-img {
    height: 220px;
    border-radius: 50%;
}

.content-primary-scroll{
    margin-top: 50px;
    width: 3em;
    filter: invert(100%);
    cursor: pointer;
}

.content-secondary{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    color: white;
    background-color: #080808;
}

.content-secondary-title{
    margin-top: 10vh;

}

.content-secondary-resume{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 10vh;
}

.content-secondary-resume-infos{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content-secondary-resume-presentation{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content-secondary-link{
    color: #7813a7;
}

.content-secondary-logo{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.content-secondary-logo-item{
    border-radius: 4px;
    width: 40px;
    height: 40px;
}

.content-terciary {
    margin-top: 10vh;
    margin-bottom: 10vh;
    color: white;
}

.content-terciary-skills{
    display: grid;
    grid-column: span;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
    padding: 20px;
}
.content-terciary-skills-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin-bottom: 20px;
}
.content-terciary-skills-item-title{
    align-items: center;
}
.content-terciary-skills-text{
    
}
.content-terciary-skills-image{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.content-quartenary{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.footer {
    display: flex;
    flex-direction: column;
    height: 50vh;
    color: white;
    align-items: center;
    font-family: 'Sarala', sans-serif;
    gap: 10px;
}

.foter-title{
    margin-top: 20px;
}

.footer-logo{
    display: flex;
    gap: 20px;
}

.footer-logo-item{
    width: 30px;
}

.copyright{
    margin-top: 5%;
}

.gototop{
    position: fixed;
    background-color: rgba(209, 202, 202, 0.747);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    /* visibility: hidden; */
}

.gototop {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
}
.gototop::after {
    content: "▲";
    font-size: 32px;
    font-weight: bold;
    color: #321253;
    transition: margin-top 250ms;
}
.gototop:hover::after {
    margin-top:-8px;
}
